.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
}

.description {
    margin-top: 24px;
    color: var(--slate-500);
}

.agent {
    padding: 48px;
    background-color: var(--slate-100);
    border: 1px solid var(--slate-200);
    border-radius: 24px;
}

.features {
    margin-top: 24px;
}
