.wrapper{
    border-radius: 8px;
    border: 2px solid #E2E8F0;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 8px;
}

.table th,
.table td {
    border: none;
    border-bottom: 2px solid #E2E8F0;
    padding: 16px 8px;
    text-align: center;
    border-right: 2px solid #E2E8F0;
}  

.table th{
    color: #64748B !important;
    font-weight: bold;
}

.table th:last-child,
.table td:last-child {
    border-right: none;
}

.table tbody tr:last-child td {
    border-bottom: none;
}