.symptom-selector {
    /*margin-bottom: 10px;*/

    background: #FFFFFF;
    border-radius: 12px;

}.symptom-selector {
     margin-bottom: 24px;
 }
.symptom-selector:last-child {
    margin-bottom: 0 !important;
}
.header {
    padding: 14px 15px;
    cursor: pointer;
    align-content: center;
}

.title {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
    padding: 0;

}

.arrow svg {
    /*font-size: 12px;*/
    transition: transform 0.3s;
    transform: rotate(180deg);
}

.arrow.open svg {
    transform: rotate(0);
}.symptom-selector:first-child .header {

 }

 .isLabel{
    font-weight: bold;
 }

.dropdown {
    /* padding: 10px 15px; */
    padding-top: 0;
    background-color: #fff;
    border-radius: 10px;
    max-height: 185px;
    overflow-y: auto;
}

.search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: .875rem;
    /* Rectangle 34626311 */


    background: #FFFFFF;
    border: 1px solid #EDEDEE;
    border-radius: 8px;

}
.symptom-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.symptom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}

.symptom-item input {
    display: none; /* Hide the default checkbox */
}

.checkbox {
    width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    border: 2px solid #C2C2C2;
    border-radius: 4px;
    margin-right: 6px;
    background-color: #fff;
    transition: all 0.3s;
    position: relative;
}

.symptom-item input:checked + .checkbox {
    background-color: #000;
    border-color: #000;
}

.symptom-item input:checked + .checkbox::after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    content: "";
    height: .62rem;
    left: .3rem;
    position: absolute;
    top: .05rem;
    transform: rotate(45deg);
    width: .32rem;
}

.symptom-item span.text {
    flex: 1;
}

.count {
    font-size: 12px;
    color: #9C9CA3;
    background-color: #9C9CA315;
    padding: 2px 5px;
    border-radius: 10px;transition: .4s;
}

.selected span.count{
    background-color: #000;
    color: #000;
}
.symptom-selector .dropdown::-webkit-scrollbar {
    width: 6px; /* عرض اسکرول‌بار */
    height: 6px; /* ارتفاع اسکرول‌بار (برای حالت افقی) */
}

/* پس‌زمینه اسکرول‌بار */
.symptom-selector .dropdown::-webkit-scrollbar-track {
    background: #f0f0f0; /* رنگ پس‌زمینه */
    border-radius: 10px; /* گوشه‌های گرد */
}

/* رنگ نوار اسکرول */
.symptom-selector .dropdown::-webkit-scrollbar-thumb {
    background: #9C9CA3; /* رنگ نوار اسکرول */
    border-radius: 10px; /* گوشه‌های گرد */
}

/* هنگام هاور شدن روی اسکرول‌بار */
.symptom-selector .dropdown::-webkit-scrollbar-thumb:hover {
    background: #9C9CA3; /* رنگ نوار در حالت هاور */
}.input-wrapper {
     position: sticky;
     top: 0;
     z-index: 1;
     background: #fff;
     display: flex;
     align-items: center;
     width: 100%;
 }

.search-input {
    width: 100%;
    padding: 7px 40px 7px 10px; /* فضایی برای آیکن سمت راست */
    font-size: 13px !important;
    border-radius: 8px;
    outline: none;
    /*margin-bottom: 35px;*/
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* قابل کلیک نباشد */
}

.title{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
@media (max-width: 1290px) {
    .title {
         font-size: 12px;
     }.dropdown {
          max-height: 96px!important;
      }.header {

           padding: 12px 15px 7px;
       }.search-icon {

            top: 3px;
        }.symptom-item {
    line-height: 15px;
                             font-size: 11px;
                             margin-bottom: 3px;

        }.search-input {
                                              font-size: 10px !important;                   margin-bottom: 9px;
             padding: 4px 40px 4px 10px;
         }
}