@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: clip;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}


@media (max-width: 1650px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1285px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 11px;
  }
}

.border-r{
  border-right-width: 1px solid #E2E8F0 !important;
}

.scrollbar-sm {
  scrollbar-width: thin !important;
  scrollbar-gutter: stable;
}

.gm-style-iw button[aria-label="Close"] {
  display: none !important;
}

.fade-in-animate {
  animation: FadeInAnimate .5s ease-in-out forwards;
}

@keyframes FadeInAnimate {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.selected-flag .flag .arrow {
  display: none !important; /* حذف آیکن پیش‌فرض */
}
.flag-dropdown .search {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.flag-dropdown .search .search-emoji {
  display: none;
}
.flag-dropdown .search .search-box {
  width: 100%;
  padding: 10px 8px !important;
  border-radius: 8px !important;
  margin-left: 0 !important;
}
.flag-dropdown .search .search-box:focus {
  border-color: #3b82f6 !important;
}
.flag-dropdown .search .search-box::placeholder {
  text-transform: capitalize !important;
}

.react-tel-input .selected-flag{
  position: static !important;
}

.react-tel-input .flag-dropdown,
.react-tel-input .flag-dropdown:hover,
.react-tel-input .flag-dropdown:focus,
.react-tel-input .selected-flag:hover, 
.react-tel-input .selected-flag:focus{
  background-color: #F1F5F9 !important;
  border-radius: 16px 0 0 16px !important;
}


.bg-white-phone-input .react-tel-input .flag-dropdown,
.bg-white-phone-input .react-tel-input .flag-dropdown:hover,
.bg-white-phone-input .react-tel-input .flag-dropdown:focus,
.bg-white-phone-input .react-tel-input .selected-flag:hover,
.bg-white-phone-input .react-tel-input .selected-flag:focus {
  background-color: white !important; /* یا چیزی که باید باشه در حالت سفید */
}

.flag-dropdown {
  border-radius: 16px 0 0 16px !important;

}

.react-tel-input .form-control{
  border: 0 !important;
  border-radius: 16px !important;
}

.selected-flag .flag{
  transform: scale(1.1) !important;
  margin-left: -2px;
  margin-top: -1px;
}

.bg-gradient-custom {
  background: linear-gradient(
        90deg,
        var(--orange-600) 0%,
        var(--orange-500) 100%
    );
}

.bg-gradient-custom:hover {
  background: linear-gradient(
        90deg,
        var(--orange-500) 0%,
        var(--orange-600) 100%
    );
}

.has-iframe iframe{
  width: 100%;
  min-height: 30rem;
  border-radius: 8px;
}


@keyframes slideLeftToRight {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-8px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-left-to-right {
  animation: slideLeftToRight .8s ease-in-out;
}

.animate-right-to-left {
  animation: slideRightToLeft .8s ease-in-out;
}



.fade-loop {
  animation: fadeLoop 10s infinite ease-in-out;
  display: inline-block;
  will-change: transform, opacity;
}

@keyframes fadeLoop {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  5% {
    opacity: 0.6;
    transform: scale(0.96) translateY(5px);
  }
  10% {
    opacity: 0.6;
    transform: scale(0.96) translateY(5px);
  }
  15% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}




.animated-title {
  position: relative;
}
